@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --background-color: #F3F3E0;
    --text-heading: #112D4E;
    --text-content: #3F72AF;
    --main-color: #ae8957;

    --big-font: 40px;
    --p-font: 23px;
}

body {
    background-color: var(--background-color);
    color: var(--text-content);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-content);
}

/* Navbar*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 15px;
    z-index: 1000;
    padding: 15px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    font-weight: normal;
    .logo img {
        width: 55px;
        height: auto;
        cursor: pointer;
        margin-left: 0px;
        align-items: center;
    }
    .navbar_isi {
        display: flex;
        font-weight: bold;
        font-size: 20px;
    }

    .navbar_isi a {
        display: block;
        margin: 0px 35px;
        color: var(--text-heading);
        transition: all 0.6s ease;
    }

    .navbar_isi a:hover {
        color: #3F72AF;
        padding: 10px 15px;
        font-size: var(--p-font);
    }

    #right_content {
        align-items: center;
        display: flex;
        transition: all 0.6s ease;
        img {
            width: 50px;
            height: auto;
            cursor: pointer;
            margin-left: 25px;
            z-index: 10001;
            font-size: var(--p-font);
            display: none;
            max-width: 55%;
        }
    }
}
/* End of Navbar */

/* Content */
section {
    padding: 5% 10%;
}
/* Beranda */
#beranda {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 0;
}

.text_beranda {
    margin-right: 20%;
}
.text_beranda h1 {
    font-size: var(--big-font);
    color: var(--text-heading);
    font-weight: 500;
    margin: 15px 0;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
}

.text_beranda p {
    width: 100%;
    max-width: 620px;
    font-size: var(--p-font);
    text-align: justify;
    letter-spacing: 0.04cm;
}

.text_beranda hr {
    background-color: black;
    border: none;
    height: 1px;
}

.img_beranda img {
    width: 70%;
    height: auto;
    position: relative;
    left: 0%;
    margin-left: 20%;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    animation: animate 1.5s alternate infinite;
}

@keyframes animate{
    from {
        bottom: 0px;
    }
    to {
        bottom: -40px;
    }
}
/* End of Beranda */

/* Profile */
#profile {
    background-color: var(--background-color);
    width: 100%;
    height: 120vh;
    margin-top: 0;
    background-size: cover;
    background-position: center;    
    display: flex;
    padding: 100px 3%;
}
.container_profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.hobi {
    margin-bottom: 10px;
}

.img_profile {
    text-align: center;
    overflow: hidden;
    margin: 0;
    border-radius: 5px;
}

.img_profile h1 {
    margin-right: auto;
    margin-bottom: 1%;
    display: flexbox;
    text-align: center;
    padding: 19px 15px;
    font-weight: bold;
    font-size: var(--big-font);
    color: #112D4E;
}

.img_profile img {
    width: 70%;
    height: auto;
    display: flex;
    transition: all 0.5s ease;
}

.img-game {
    margin-bottom: 10%;
}

.game {
    display: flex;
    width: 100%;    
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0px 2rem 1em 0rem hsl(215.83deg 100% 65.29% / 20%);
    border-radius: 0.5rem;
}

.game img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    position:relative;
}

.navigasi-game{
    display: block;
    column-gap: 2px;
    position: absolute;
    margin-top: 15px;
    left: 75%;
    transform: translateX(-30%);
    z-index: 100;
    font-size: 20px;
}

.navigasi-game a{
    border-radius: 100%;
    background-color: #3F72AF;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.navigasi-game a:hover {
    opacity: 1;
}

.navigasi-game a:visited {
    transform: translateX(-30%);
}


.diri {
    display: flex;
    width: 60%;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
}

.text_profile {
    font-size: var(--p-font);
    justify-content: space-between;
    color: var(--text-content);
    margin-right: auto;
    margin-left: 4%;
    position: relative;
    padding: 14px 15px;
    text-align: justify;
}

.text_profile h1{
    font-size: var(--big-font);
    color: #112D4E;
    padding: 0px 15px;
}

.text_profile li{   
    font-size: var(--p-font);
    font-weight: bold;
    padding: 14px 15px;
    position: relative;
}

.text_profile p {
    position: relative;
    font-size: 20px;
    padding: 0px 15px;
    margin-right: 50px;
    line-height: 30px;
}

.text_profile a:hover{
    color: #ae8957;
    transition: all 0.6s ease;
}

/* End of Profile */













































/* End of Skill */

/* Studi */
#studi {
    width: 100%;
    height: 100vh;
    background-color: #CBDCEB;
    margin-top: 0;
}
/* End of Studi */

/* Portofolio */
#portofolio {
    width: 100%;
    height: 100vh;
    background-color: #3F72AF;
    margin-top: 0;
}

/* End Of Portofolio */

/* End of Content *